version: '3'
services:
  postgres:
    container_name: postgres
    build: ./
    restart: always
    environment:
      POSTGRES_PASSWORD: pactodb
      CLOUDBACKUP_USER: myuser
      CLOUDBACKUP_PASSWORD: secrect
    volumes:
      - ./:/db/
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: kevio@pactosolucoes.com.br
      PGADMIN_DEFAULT_PASSWORD: pactodb
    restart: always
    ports:
      - 81:80
    depends_on:
      - postgres
    links:
     - postgres